.comment-wrap {

    &:last-child {
      margin-bottom: 24px;
    }

    &.comment-wrap--has-replies {}

    &.comment-wrap--replies-visible {
      margin-bottom: 24px;
    }
  }

    .comment {
      background-color: #FFF;
      border-radius: 2px;
      box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
      margin-bottom: 16px;
      position: relative;

      .comment-wrap--has-replies & {
        margin-bottom: 16px+8;

        &::before,
        &::after {
          background-color: #DDD;
          border-radius: 0 0 2px 2px;
          box-shadow: 0 1px 1px rgba(0,0,0,0.3), inset 0 1px 1px rgba(0,0,0,0.3);
          content: '';
          display: block;
          height: 4px;
          position: absolute;
        }

        &::before {
          right: 8px;
          bottom: -4px;
          left: 8px;
          // width: 94%;
        }

        &::after {
          background-color: #CCC;
          right: 16px;
          bottom: -8px;
          left: 16px;
          // width: 88%;
        }
      }

      .comment-wrap--replies-visible & {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;

        &::before,
        &::after {
          content: normal;
        }
      }
    }
      .comment__header,
      .comment__body {
        padding-right: 12px;
        padding-left: 12px;
      }
      .comment__header {
        padding-top: 12px;
      }
        .comment__display-name {}
      .comment__body {

        > p {
          white-space: pre-line;
        }
      }
        .comment__timestamp {}
        .comment__bullet {
          margin-left: 4px;
        }
        .comment__report {
          margin-left: 4px;
        }
      .comment__footer {
        margin-top: 12px;
        padding-right: 12px-4;
        padding-bottom: 12px;
        padding-left: 12px-4;
      }
        .comment__actions {
          text-align: right;

          button {
            padding: 4px 8px;
          }
        }


    // REPLIES
    //

    .replies {
      background-color: #DDD;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
      margin-bottom: 24px;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .replies__show-more {
      color: #3a64ee;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding: 4px 16px 16px 16px;
    }


    // Animation
    //

    // Replies
    //

    .drawer {}

    // Enter
    .drawer-enter {}
    .drawer-enter-active {}
    .drawer-enter-to {}

    // Leave
    .drawer-leave {}
    .drawer-leave-active {}
    .drawer-leave-to {}


    // Reply Items
    //

    .new-reply {}

    // Enter
    .new-reply-enter {
      opacity: 0;
      transform: translateY(-32px);
    }
    .new-reply-enter-active {
      transition: all 350ms ease-out;
    }
    .new-reply-enter-to {}

    // Leave
    .new-reply-leave {}
    .new-reply-leave-active {}
    .new-reply-leave-to {}

